In [1]:
print('Hey..Raghav here')

Hey..Raghav here

In [16]:
print('Hey..I\'m Raghav') #Now since the string contains a single quote itself, Python won't know the difference. Hence we insert a backslash to tell that a quote follows as a part of string.

Hey..I'm Raghav

In [4]:
print("Hey...I'm Raghav") #When using double quotes, we dont need to specify a '\' as now it can differentiate between an opening/closing quote and quote as part of string.

Hey...I'm Raghav

In [1]:
"I'm Raghav.\nI'm 33."

"I'm Raghav.\nI'm 33."

In [3]:
print("I'm Raghav.\nI'm 33.") #With print command, the'\n' prints the follwing text in a new line.

I'm Raghav.
I'm 33.

In [2]:
text=("Hi..Raghav Here.""I'm 33.") #Strings within simple brackets are automatically concatenated
text

"Hi..Raghav Here.I'm 33."

In [ ]:
#There are 4 data types in Python: Numeric(int,float,complex),Sequence(string,list,tuple),Set,Dictionary(dict)

In [2]:
3*'um'+'ium' #We can use '*' to repeat and '+' to concatenate strings.

'umumumium'

In [2]:
print('I Love Arsenal..Once a Gunner always a Gunner !!\n'*8)

I Love Arsenal..Once a Gunner always a Gunner !!
I Love Arsenal..Once a Gunner always a Gunner !!
I Love Arsenal..Once a Gunner always a Gunner !!
I Love Arsenal..Once a Gunner always a Gunner !!
I Love Arsenal..Once a Gunner always a Gunner !!
I Love Arsenal..Once a Gunner always a Gunner !!
I Love Arsenal..Once a Gunner always a Gunner !!
I Love Arsenal..Once a Gunner always a Gunner !!

In [2]:
name='raghav singh' #The 'title()' function converts the first letter of both character strings to uppercase. Here the function doesn't have any arguments inside its bracket.
name.title()   #This is a standard Python syntax, which means apply function 'title()' to object 'name'.

'Raghav Singh'

In [3]:
name.upper() 
#name.lower()

'RAGHAV SINGH'

In [6]:
first_name='Raghav'
last_name='Singh'
full_name=f'{first_name} {last_name}'
full_name #To insert an object's value inside a string, first type letter 'f' followed by quotes. Then simply write your object name within curly braces and Python would pick it up.

'Raghav Singh'

In [13]:
print("\tPython")  #The '\t' includes a whitespace while printing 'Python'.

	Python

In [18]:
print("This is\nPython")  #The '\n' moves the cursor to next line. Hence 'Python' gets printed in a new line.
print("This is\n\tPython")

This is
Python
This is
	Python

In [21]:
fav_language='Python   '
fav_language=fav_language.rstrip() #The 'rstrip()' function is used to remove whitespaces from the right end of the string. Then stores this change in the same object.
fav_language  #Similarly we have 'lstrip()' which eliminates from left end. Finally, 'strip()' does it from both ends together.

'Python'

In [1]:
name_new='raghav singh'
name_new.upper()  #The 'upper()' function returns all values as uppercase. Similarly, 'lower()' returns all values as lowercase.

'RAGHAV SINGH'

In [3]:
name='Raghav'
Attendance=87
print("I'm",name,'and my attendance is',Attendance,'percent.')

I'm Raghav and my attendance is 87 percent.

In [4]:
print(f"I'm {name} and my attendance is {Attendance} percent.")  #Does the same job as above cell.

I'm Raghav and my attendance is 87 percent.

In [1]:
p=1 and 1 #The 'and' operator always gives True/1 if both inputs are 1. Else it gives False/0.
q=0 or 0  #The 'or' operator always gives False/0 if both inputs are 0. Else it gives True/1.
r=not 0  #The 'not' operator flips the current state of input.
print(p,q,r)

1 0 True

In [2]:
#The 'and' takes higher preference than 'or' when both come together.
a=1 or 0 and 0
print(a,type(a))

1 <class 'int'>

In [ ]:
a='python is fun'
a[3]  #Gives us the 4th character of a string. Basically gives the letter after position 3. Explained 2 cells below.

In [28]:
a[-1] #Gives last character of string 'a'.

'n'

In [29]:
a[-2:]

'un'

In [30]:
#python is fun
a[:3] #Gives us evrything from position 0 to 3. In python position lies between letters.
#So for a string 'python', the positions can be denoted as 0p1y2t3h4o5n67i8s910f11u12n13.Hence the indexing starts before the first letter as 0.
#The space counts for 2 pointers. Hence we see two number between 'n' and 'i' and also 's' and 'f'.
#Hence for slicing, it returns everything till position pointer. For indexing, it returns the letter after the position.

'pyt'

In [31]:
a[::2] #From pointer 0 till end by a skip count of 2.

'pto sfn'

In [33]:
a[2:10:3] #From pointer 2 till 10, returns everything with a skip of 3.

'tns'

In [32]:
a[::-1]  #Reverse the string.

'nuf si nohtyp'

In [7]:
my_string='Hello fellas, nice meeting you!'
my_string.index('f')  #The 'index' function returns the pointer location(i.e. index) for letter 'f' in object 'my_string'.

6

In [4]:
my_string.index('j') #If the string isn't found, it gives a value error.

ValueError: substring not found

In [9]:
#We can use 'try-except' block of code to print a desired output instead of default error output.
my_string='Hello fellas, nice meeting you!'
try:
    my_string.index('j')
except ValueError:
    print('String not found')

String not found

In [38]:
a1=[2,7,31,79]
b2=a1 #Here object 'b2' is a deep copy of object 'a'.
b1=a1.copy()  #Here object 'b1' is a shallow copy of object 'a'.
a1.append(100)  #We made a change to original list 'a1'. 
print(b1,b2)  #This change reflects in 'b2' as it is a deep copy but not in 'b1' which is a shallow copy.
#Hence change made to original copy also makes changes in deep copy. Hence creating a copy using 'copy' function is recommended.

[2, 7, 31, 79] [2, 7, 31, 79, 100]

In [40]:
'J'+a[1:] #Another string concatenation

'Jython'

In [4]:
17/3

5.666666666666667

In [5]:
17//3 #Gives quotient of our division discarding the fractional part

5

In [2]:
result=divmod(17,3)  #Returns the quotient and remainder in a tuple format.
print(result,type(result))

(5, 2) <class 'tuple'>

In [6]:
17%3 #Gives remainder

2

In [9]:
2**5 #gives the power of a number

32

In [22]:
number=1_50_000  #We can include underscore while using a number in Python to make it aesthetically nice. 
number

150000

In [3]:
#When we create an object in Python, it is allotted a number which uniquely identifies it. This number is nothing but the memory address of the value stored in the object. No two objects will have same identifier.
j=67;k=9
print(id(j),id(k))  #The function 'id' is used to get the memory address of values stored in object 'j' and 'k'.

140733154930528 140733154928672

In [13]:
a=13.67
b=34.9;c=5.6
a+c
d=b-_ #An underscore saves the last result automatically
d

15.629999999999999

In [14]:
round(_,2) #Rounds off the last saved result to 2 decimal places

15.63

In [2]:
x=35.65;y="Emma"   #Here we use 'isinstance()' function to check whether an object is int,float,str.
isinstance(y,(float,int))  #Checks whether 'y' is a float or integer. Returns 'False'.
isinstance(y,str)          #Checks whether 'y' is a string. Returns 'True'.
isinstance(x,(str,float))

True

In [1]:
import math as mt #Import 'math' library to perform arithmetic calculations on a number.
mt.sqrt(15)

3.872983346207417

In [4]:
from math import sqrt  #Instead of importing whole 'math' library, we instead imported only 'sqrt' function.
sqrt(6)

2.449489742783178

In [7]:
from math import*  #Import all functions from the 'math' library.
sqrt(34),pow(2,4)

(5.830951894845301, 16.0)

In [ ]:
#We can make a list in Python by enclosing elements in a '[]' or using 'list()' command. 
#Lists are heterogenous(i.e. can contain elements of different types numeric,string,float)
#Lists are ordered(i.e. they have an index value for each element) and mutable i.e. editable.
#Tuples are ordered and immutable i.e. its elements can't be changed/edited.
#We can make a tuple in Python by simply writing elements separated by commas, by enclosing them in () or using 'tuple()'.

In [1]:
bike=['discover','pulsar','avenger','apache']
print(f'My first bike was {bike[0].title()}.')

My first bike was Discover.

In [19]:
a,b,c=3,4,5  #We can assign multiple values simultaneously to multiple objects.
print(a,b,c)

3 4 5

In [1]:
t=23,4,576,'abc'  #This is a tuple. An object separated by commas and can have multiple types of values. We can make a tuple simply by separating values by commas. We can also include a parentheses(i.e.()) to enclose the values.
print(t,type(t))

(23, 4, 576, 'abc') <class 'tuple'>

In [44]:
t1=3,  #A tuple with a single element must be followed by a comma. Else it gets recognised as a number.
type(t1)

tuple

In [2]:
for i in t:  #Here we iterate a tuple and simply print all its elements.
    print(i)

23
4
576
abc

In [3]:
for i in range(2):  #Here we specify a range of iteration and print only elements which lie in the range.
    print(t[i])

23
4

In [6]:
#If we want to edit/change objects in a tuple, it will throw an error as a tuple is immutable.
#A simple workaround is to convert a tuple into a list, specify the changes and then convert it back to tuple.
sample=list(t)
sample[2]=57  #Edit the value at position 2 giving it a new value 57.
new_t=tuple(sample)
print(new_t,type(new_t))

(23, 4, 57, 'abc') <class 'tuple'>

In [7]:
t+new_t  #Concatenate tuples using '+' operator.

(23, 4, 576, 'abc', 23, 4, 57, 'abc')

In [8]:
import itertools as it
t1=tuple(i for i in it.chain(t,new_t))
t1  #We can also concatenate using 'chain' function from 'itertools' library. This is time efficient from big data perspective.

(23, 4, 576, 'abc', 23, 4, 57, 'abc')

In [10]:
t2=(2,21,7,8),'emma',[3,1,7]  #Example of nested tuple i.e. tuple within a tuple.
print(t2,type(t2))

((2, 21, 7, 8), 'emma', [3, 1, 7]) <class 'tuple'>

In [11]:
for i in t2:   #Here we iterate a nested tuple.
    print('Object',i,':')
    for j in i:
        print(j,end=',')  #Supplying 'end' option as ',' prints elements horizontally separated by comma. Else by default it prints vertically 1 element in each line.
        print('\n')

Object (2, 21, 7, 8) :
2,

21,

7,

8,

Object emma :
e,

m,

m,

a,

Object [3, 1, 7] :
3,

1,

7,

In [36]:
x,y,z,e=t #This is called sequence unpacking, where we assign values in our tuple to 4 corresponding variables on LHS.
x,y

(23, 4)

In [ ]:
#As tuples are immutable, they are write protected. They can be used as read only or fixed data that doesn't change.
#Also they can be used as keys for dictionaries while lists can't be used for this purpose.

In [ ]:
#Flow control statements are divided into 3 categories:
# Conditional Statements- We execute a block of code as per the condition being True/False. Examples of conditional statements are if,if-else,if-elif-else,nested if-else.
# Iterative Statements- We execute a block of code as long as a condition hold True. Example of this statement are for loop, while loop.
# Transfer Statements- These are used to alter the way of execution of a program in a certain manner. Example of these statements are break,continue,pass statements.

#The 'break' statement is used inside the loop to exit out of the loop. It is used when we want to terminate the loop as soon as a condition is met instead of performing the remaining iterations.
#The 'continue' statement is used inside the loop to skip the current iteration and continue to the next one.

In [18]:
Life="Nothing is constant.Be it success, failure or pain. Only constant is life itself."
if 'success' in Life:  #This is a chain of 'if' conditions. They are all executed irrespective of whether a previous one is True or not. 
    print(f"Stay grounded and keep going.")
if 'failure' in Life:
    print(f"Keep calm and work hard.")
if 'pain' in Life:
    print(f"Take paracetamol, go to sleep and start working again.")

Stay grounded and keep going.
Keep calm and work hard.
Take paracetamol, go to sleep and start working again.

In [1]:
a= 175
if a<100:
    print('Less than 100.')
elif not(a<100):
    print('Not less.')
print('Check complete.')

Not less.
Check complete.

In [3]:
for i in range(10):
    if i>6:
        print('we stop here !!')
        break
    else:
        print(i)

0
1
2
3
4
5
6
we stop here !!

In [4]:
for i in range(1,30,4):
    print(i*2)
    if i%5 == 0:
        break

2
10

In [4]:
x1=9;y1=7   #Illustrates basic use of 'and' logical operator.
if x1>6 and y1>6:
    print('Both')
else:
    print('Not Both')

Both

In [5]:
if x1<8 or y1<8:   #Illustrates use of 'or' logical operator.
    print("Atleast one")
else:
    print('False')

Atleast one

In [5]:
def user_check(choice):
    """ This is a function which checks and returns
        the type of person using the function."""
    if choice == 1:
        print("Admin")    #Basic use of 'if-elif-else' conditional flow control.
    elif choice == 2:
        print("Editor")
    elif choice == 3:
        print("Guest")
    else:
        print("Wrong entry")
user_check(2)

Editor

In [6]:
name1=input('Enter Name:')
Age=float(input('Enter Age:'))  #Since the result of 'input' function is a string, we convert it to float and then store it under object 'Age'.
if Age<18:
    print(f"Hi {name1}! You're not eligible for vaccine yet.")
elif Age>=18 and Age<45:
    print(f"Hi {name1}! Register yourself on cowin website and schedule your vaccine.")
else:
    print(f"Hi {name1}! If you're still not vaccinated, hurry up.")
print(f"Thanks for participating {name1}!")

Hi Raghav Singh! Register yourself on cowin website and schedule your vaccine.
Thanks for participating Raghav Singh!

In [3]:
for i in range(1,11):
    if i>2 and i<8:
        continue
    print(i)

1
2
8
9
10

In [11]:
ingredients=['cheese','pepperoni','mushroom','babycorn']
for i in ingredients:   #This 'for' loop iterates over each value of list 'ingredients'. But when it takes value 'pepperoni' it executes an if condition.
    if i=='pepperoni':
        print(f"Sorry,we can't add {i} as of now.")
    else:               #The 'else' statement ensures all other ingredients apart from 'pepperoni' do get added.
        print(f"Adding {i}")
print(f"\nYour pizza is ready.")

Adding cheese
Sorry,we can't add pepperoni as of now.
Adding mushroom
Adding babycorn

Your pizza is ready.

In [1]:
toppings=[]
if toppings:   #When the name of an object 'toppings' is given with an 'if' statement, Python checks if the object has at least 1 element. If 'True',it then runs the 'for' loop iteration over each value of the object.
    for i in toppings:
        print(f"Adding {i}.")
    print("\n Your pizza is ready")
else:
    print("No toppings added.")

No toppings added.

In [3]:
available_toppings=['pepperoni','mushroom','olives','extra cheese','capsicum']
requested_toppings=['mushroom','french fries','olives']
for i in requested_toppings:
    if i not in available_toppings:
        print(f"Sorry, we don't have {i} right now.")
    else:
        print(f"Adding {i} topping.")
print('\nYour pizza is ready !')

Adding mushroom topping.
Sorry, we don't have french fries right now.
Adding olives topping.

Your pizza is ready !

In [7]:
c=x1>10 and y1>10  #Create a object having true/false value for the logical condition.
if not(c):        #The 'not' operator checks for a condition to be false. The object 'c' has value 'False',hence prints 'true'.
    print('true')
else:
    print('false')

true

In [8]:
c1=[12,3,67,31,91,51,47]
number=91
if number in c1:   #The keyword 'in' is used to check whether a value exists inside an object.
    print("It's there." )
else:
    print('Not')

It's there.

In [9]:
if 5 not in c1:    #The keyword 'not in' is used to check whether a value doesn't exist inside an object.
    print('Not there')
else:
    print('There.')

Not there

In [42]:
a=[2,7,1,9,4,6]  
a[2:4]=90,1,7   #Remove the values from position 2 till 4 i.e. remove 1 and 9. Then replace them with given values.
a

[2, 7, 90, 1, 7, 4, 6]

In [44]:
A=[7,2];B=[4,1,3]  #We check whether all elements of a list are present or not present in another list.
print(A in a,B not in a)

False True

In [21]:
ab=[2,3,2,5,7,4] #Just like strings,this is a list of numeric values.We get our output value which is at position 3 in list.
ab[3]

5

In [22]:
ab[3:]

[5, 7, 4]

In [23]:
cd=[23,41,32,45] #Just like string concatenation,we can concatenate lists.
ab+cd

[2, 3, 2, 5, 7, 4, 23, 41, 32, 45]

In [24]:
ab[3]=7  #Replace value at position 3 with value 7.
ab

[2, 3, 2, 7, 7, 4]

In [25]:
a1=ab[:] #Produces a copy of list 'ab'. Its basically a slice where we've removed the first and second indexes.
a1

[2, 3, 2, 7, 7, 4]

In [26]:
ab.append(2**4) #Append 2^4 in the list 'ab'
ab

[2, 3, 2, 7, 7, 4, 16]

In [27]:
a2=[2,45,3] 
a1.extend(a2)  #Append list 'a2' to list 'a1'. Works similarly to a1+a2.
a1

[2, 3, 2, 7, 7, 4, 2, 45, 3]

In [13]:
a=[2,4,7,9,1];b=[0,2,0,1]
a.append(b)
a  #As evident, 'append' simply attaches at the end the object as it is. So it appends a list inside a list.

[2, 4, 7, 9, 1, [0, 2, 0, 1]]

In [38]:
food=['carrot','onion','cucumber','potato']
food_new=food[:]
food_new.extend(['tomato','cheese'])
print(f'Following is the food I eat, although my favorite is {food[2]}.')
print(food)
print('\nMy friend though prefers the following:')
print(food_new)

Following is the food I eat, although my favorite is cucumber.
['carrot', 'onion', 'cucumber', 'potato']

My friend though prefers the following:
['carrot', 'onion', 'cucumber', 'potato', 'tomato', 'cheese']

In [14]:
a.extend(b)
a  #The 'extend' function adds elements of list 'b' to list 'a'. Hence elements are a continuation of same list.
#The 'extend' works similar to concatenate '+'. So 'a.extend(b)' is same as a+b.

[2, 4, 7, 9, 1, [0, 2, 0, 1], 0, 2, 0, 1]

In [28]:
ab.insert(3,45) #Insert value 45 at position 3 of list 'ab'. Hence value 45 becomes the 4th value.
ab

[2, 3, 2, 45, 7, 7, 4, 16]

In [29]:
ab.pop(4) #Deletes the value at 4th position in list 'ab'.
ab

[2, 3, 2, 45, 7, 4, 16]

In [30]:
ab.pop(3)  #The 'pop' function returns the value it deletes, in this case 45.Hence to get the new list, we need to type 'ab'.

45

In [1]:
s1="We're here. It feels good !"
s1.replace('good','bad')

"We're here. It feels bad !"

In [16]:
cars=['scorpio','safari','fortuner','ecosport']
#By default when no value is specified as argument, the 'pop()' function deletes or pops out the last value in the list. 
f"I'm currently using a Honda Civic, but my last car was {cars.pop().title()}."

"I'm currently using a Honda Civic, but my last car was Ecosport."

In [18]:
cars.remove('safari')  #The 'remove()' function deletes item from a list just like 'del()', but it takes a value as argument. 
cars   #The 'remove()' function only deletes the first occurance of a value from the list. If there are multiple occurances, we will need to run a loop.

['scorpio', 'fortuner']

In [31]:
del ab[4] #The 'del' function deletes value at 4th position.
ab

[2, 3, 2, 7, 16]

In [32]:
del ab[2:]  #Deletes all values from position 2(i.e. 3rd value) onwards.
ab

[2, 3]

In [33]:
del ab[:]  #Delete the list.
ab

[]

In [26]:
a2=[2,9,1,9,6,7]  #Delete value 9 wherever it occurs from list 'a2'.
a2=[i for i in a2 if i!=9]
a2

[2, 1, 6, 7]

In [9]:
a1=[2,5,3,3,5,3,7,1,9]  #Count how many times 3 appears in list 'a1'
a1.count(3)

3

In [3]:
len(a1) #Count no. of items in list 'a1'

9

In [15]:
a1.sort()  #Sorts list 'a1' in ascending order by default. The 'sort' function performs the sorting and saves the changes in the same list.
print(a1)   #Hence the original list 'a1' gets over written.

[2, 3, 3, 3, 4, 5, 7, 7, 9]

In [17]:
a1.sort(reverse=True)  #Sorts list 'a1' in descending order.
print(a1)

[9, 7, 7, 5, 4, 3, 3, 3, 2]

In [18]:
a1  #We see list 'a1' has changed to the sorted list. Some functions like 'sort' change the object instead of returning a value.

[9, 7, 7, 5, 4, 3, 3, 3, 2]

In [10]:
print(sorted(a1), a1) #Function 'sorted' returns a sorted list rather than changing the original list. Hence list 'a1' remains the same.

[1, 2, 3, 3, 3, 5, 5, 7, 9] [2, 5, 3, 3, 5, 3, 7, 1, 9]

In [7]:
z1=['apple','ornage','mango','banana','lemon'] #We can use the 'reverse=True' option to sort the list in descending order. Again, the original list 'z1' remains the same.
print(sorted(z1,reverse=True),z1)

['ornage', 'mango', 'lemon', 'banana', 'apple'] ['apple', 'ornage', 'mango', 'banana', 'lemon']

In [27]:
z2=['a','m','i','f','d']  #The 'reverse()' function simply gives the reverse list. No sorting is done.
z2.reverse()
z2

['d', 'f', 'i', 'm', 'a']

In [5]:
#Another method of reversing contents of a list is by using 'reversed()' function inside a 'for' loop.
c2=[2,9,43,7,41,27]
for i in reversed(c2):
    print(i)

27
41
7
43
9
2

In [21]:
a2=[(2,3),(1,5),(4,1),(7,3)]
def myf(d):
    return d[-1]  #The 'myf' function takes an argument and returns its last value.
a2.sort(key=myf)  #Here 'key' option can only be a function. So 'key' takes 'myf' function and applies it to each element of list 'a2'. This gives us the 2nd element of each sub-element of 'a2'. This is then used                    to sort 'a2'.
print(a2)

[(4, 1), (2, 3), (7, 3), (1, 5)]

In [33]:
x=[2,4,3]
y=['a','b','c'] #Creating a nested list i.e. list of lists.
z=[x,y]
z

[[2, 4, 3], ['a', 'b', 'c']]

In [1]:
x=[2,34,52,3,5,4,6,5]
index=x.index(5)  #Gives the index of first match found in the list.
index

4

In [40]:
z1=[3,1,6,34,[2,14,7,5]]
print(z1[2],z1[4][2])

6 7

In [13]:
for i in range(7):
    print('I love Arsenal FC')

I love Arsenal FC
I love Arsenal FC
I love Arsenal FC
I love Arsenal FC
I love Arsenal FC
I love Arsenal FC
I love Arsenal FC

In [6]:
for i in range(1,15,4):
    print(i)

1
5
9
13

In [33]:
words=['dog','puppy','elephant','cat','mouse']
for i in words:
    print(i,len(i))

dog 3
puppy 5
elephant 8
cat 3
mouse 5

In [34]:
for i in words[1:4]:   #Instead of looping over the entire list, we loop it over a slice.
    print(i.upper(),len(i))

PUPPY 5
ELEPHANT 8
CAT 3

In [1]:
squares=[]  #We create an empty list. Then keep appending squares of numbers from 0 to 6 to complete the list.
for i in range(7):
    squares.append(i**2)
squares

[0, 1, 4, 9, 16, 25, 36]

In [2]:
squares1=[i**2 for i in range(7)] #Does the same job as the one above. However, more clean and precise. This method is called list comprehension.
squares1

[0, 1, 4, 9, 16, 25, 36]

In [31]:
practice=list(range(1,11,2)) #Take a range of numbers and convert them into a list.
practice

[1, 3, 5, 7, 9]

In [32]:
p1=[i**2 for i in practice]
p1

[1, 9, 25, 49, 81]

In [10]:
z=[(x,x**2) for x in range(6)] #Create a list 'z' having tuples of length 2 where 2nd value of tuple is square of first.
z

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [12]:
z1=[(1,2,3),(4,5,6),(7,8,9)]  
z2=[num for list in z1 for num in list]   #Here we flatten a list 'z1' having 3 sub-lists each of 3 values/tuples.
z2

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
comb=[]  #create an empty list. 
for x in range(3): #For x and y taking values 0 to 2, find pairs (x,y) such that x!=y. Append the pairs in empty list 1 by 1.
    for y in range(3):
        if x!=y:
          comb.append((x,y))
comb

[(0, 1), (0, 2), (1, 0), (1, 2), (2, 0), (2, 1)]

In [3]:
combs=[(x,y) for x in range(3) for y in range(3) if x!=y]  #Does the same job as above in more compact,precise manner.
combs

[(0, 1), (0, 2), (1, 0), (1, 2), (2, 0), (2, 1)]

In [16]:
a1=(2,7,1,9,4,6)  #Object 'a' is a list while 'a1' is a tuple. Tuples are made by enclosing in simple brackets.
print(type(a1))  #Lists are mutable i.e. they can be changed while tuples are immutable.
print(type(a))

<class 'tuple'>
<class 'list'>

In [4]:
vec=[2,-3,5,-7,6]
vec1=[i*2 for i in vec] #Take a list and create a new list having values doubled.
vec1

[4, -6, 10, -14, 12]

In [5]:
vec2=[i for i in vec if i>0] #Take a list and create a new list filtering only positive values.
vec2

[2, 5, 6]

In [20]:
Life='Success,Failure,Joy,Pain'
Temp= ['Failure','Pain']
if any(i in Life for i in Temp):  #The 'for' loop takes each value from list 'temp' for its iteration. Each iteration of loop checks if that 'i' exists in string 'Life'. It gives 'True/False' as output. Then the 'any' function checks whether any value inside bracket is 'True'.(or 1) The 'if' condition then checks if output from 'any' function is 'True'; if yes then print the desired output.
     print(f"Stay Calm & Carry on.")

Stay Calm & Carry on.

In [9]:
import statistics as stat  #Import 'statistics' module and calculate mean of list 'vec'.
stat.mean(vec)

0.6

In [24]:
import math as m
u=3.457
print(m.ceil(u),m.floor(u))

4 3

In [11]:
#'trunc' and 'fabs' function under 'math' library.
v=-31.7678  #The 'trunc' function returns the integer part of the number with sign.
print(m.trunc(v),m.fabs(v))  #The 'fabs' function takes the modulus of the number and returns a positive value.

-31 31.7678

In [14]:
print(m.pow(3,5),m.log(10))
#The 'pow' function gives us 3^5. The 'log' function returns natural log of 10.

243.0 2.302585092994046

In [28]:
pi=m.pi
pi  #This is the radian value of pi which is used in arithmetic calculations. 
pi_degrees=m.degrees(pi)
pi_degrees  #This is the degree value of pi which is used in trigonometric calculations.
print(pi,pi_degrees)

3.141592653589793 180.0

In [21]:
m.factorial(6) #The 'factorial' function in 'math' library gives us the factorial of a number.
m.sqrt(6)   #The 'sqrt' function returns the square root of a value.

2.449489742783178

In [20]:
o=2.3475;p=3.2671  
m.isclose(o,p,abs_tol=0.3) #Checks the closeness of two values within a given range called absolute tolerance.

False

In [38]:
a=10
while(a<17):
    b=a**2
    print(b)
    a=a+1  #A 'while' loop will always have a counter which facilitates the iteration of loop.

100
121
144
169
196
225
256

In [37]:
a,b=0,1  #Multiple assignment where a and b simultaneously get 0 and 1 values. 
while(a<15):
    print(a*2)
    a,b=b,a+b  #Multiple assignment where values b and a+b(in order) get assigned to a and b

0
2
2
4
6
10
16
26

In [10]:
def volume_of_cylinder(radius,height):
    volume=3.14*(radius**2)*height
    print(volume)

In [11]:
volume_of_cylinder(height=5,radius=3.5)
#Here we specified the argument values specifically by name as we didn't follow the order specified in function definition.
volume_of_cylinder(5,3.5)

192.32500000000002
274.75

In [18]:
def random():  #We see the usage of 'return' function.
    a,b,c=3,4,5
    return a,b,c  #It is used to return the values of a local variable outside the function so that we may use it globally.
    print('Hey There !') #Also, it exits the function body without going to the next line of code, hence acting like a break function too.

In [19]:
p,q,r=random()
print(p,q,r)  #Now the local variable values are stored under p,q and r and available globally for further use.

3 4 5

In [33]:
def task(a,b,c):
    result=(a*c)-b
    print(f"Result={result}")  #By using the f method, we don't need to specify commas every now and then. Just our results in curly braces.
task(2,1,8)

Result=15

In [20]:
def swap(List,i1,i2):
    a=List[i2]
    List[i2]=List[i1]
    List[i1]=a
    return List

In [21]:
swap([1,4,22,7,9,12],3,5)

[1, 4, 22, 12, 9, 7]

In [34]:
def random(*args):   #This is how we define a function which takes any no. of arguments and simply prints them.
    print(args)
abc=['emma',91,'kalia']   #Instead of supplying arguments to function one-by-one, we create a list of arguments and supply that to our function.
random(*abc)

('emma', 91, 'kalia')

In [9]:
def random(*args):   
    print(args)
abc=['emma',91,'kalia',9,0.345] #This way, we can simply change our list arguments and still get the result instead of first modifying the no. of arguments in function definition.
random(*abc)   #The output is always a tuple of arguments taken as input.

('emma', 91, 'kalia', 9, 0.345)

In [2]:
def func(*args):  
    sum=0         #Here we are calculating the mean and sum of arguments specified to the function.
    count=0
    mean=0
    for i in args:
        sum+=i
        count+=1
        mean=sum/count
    return sum,mean
func(2,7,3,9)

(21, 5.25)

In [36]:
def concat(*args,sep='/'):   #A function which takes any no of arguments and returns by joining them separated by '/'.
    return sep.join(args)
concat('sun','moon')

'sun/moon'

In [43]:
def myname(a,b):
    print(f"First Name= {a} \nLast Name= {b}")
myname('Raghav', 'Singh')
#print('First Name=',a)   These two lines with 'print' function do the same job.
#print('Last Name=',b)

First Name= Raghav
Last Name= Singh

In [4]:
name=input('Enter Name:')    #Illustrates use of 'input()' function to take live inputs from the user and print output.
salary=input('Enter Salary:')
print(name,'your salary is',salary)

Enter Name:Raghav Singh
Enter Salary:45000
Raghav Singh your salary is 45000

In [3]:
name,age=input('Enter Name,Age: ').split()  #Using 'split()' enables us to provide multiple inputs in a single line of code.
print(f"Hi {name}! You are {age} years old.")
print(type(name),type(age),sep='//')

Hi Raghav! You are 33 years old.
<class 'str'>//<class 'str'>

In [17]:
#Here we use replacement fields {0} and {1} which contain the positional index of arguments supplied as input. 
#We also specify the positional order in option 'format()'.
Name,Age=input('Enter Name,Age:').split()
print('Hey {0}. You are {1} years old.'.format(Name,Age))

Enter Name,Age:Raghav 34
Hey Raghav. You are 34 years old.

In [2]:
list=['emma','john',31,9]
print(list)          #Here we print the list as a list.

['emma', 'john', 31, 9]

In [4]:
for i in list:
    print(i,type(i))    #Here we print the list as a range.

emma <class 'str'>
john <class 'str'>
31 <class 'int'>
9 <class 'int'>

In [5]:
user_input=input('Please enter your numbers:') #The 'input' function is used to accept input from the user.
print(user_input,type(user_input))  #The output from the function is of 'str'(i.e. string) type.

45 3 21 <class 'str'>

In [6]:
m1=user_input.split()  #We use 'split' function on the output string object. This gives us a list having 3 string objects. Earlier it was a single string having 3 numbers.
print(m1,type(m1))

['45', '3', '21'] <class 'list'>

In [19]:
user_list=[]   #Create an empty list. Initiate a 'for' loop which takes on values as elements of 'm1' in each iteration. 
[user_list.append(int(i)) for i in m1]  #So 1st iteration, i='3', then '41' and then finally '6'. As they are of 'str' type, we convert them to integer.
print(user_list,sum(user_list))  #Each 'for' loop iteration involves i taking a value, then converting it into integer and then appending it to empty list.

[3, 41, 6] 50

In [1]:
#string.split(separator,maxsplit)
#The above function shows optional parameters to be included in 'split' function.
t="Hi I'm Raghav, I'm 33,and I love Data Science."
t.split()  #As we see the default 'split' function splits wherever it sees a space.

['Hi', "I'm", 'Raghav,', "I'm", '33,and', 'I', 'love', 'Data', 'Science.']

In [23]:
t.split(',')  #By specifying the separator ',' Python now splits wherever it sees a ','.

["Hi I'm Raghav", " I'm 33", 'and I love Data Science.']

In [24]:
#Here we give maxsplit=1 option. By default it is -1 meaning it splits when it sees space. Now it will give only 1 split.
t.split(',',1)

["Hi I'm Raghav", " I'm 33,and I love Data Science."]

In [30]:
l = ['element1\t0238.94', 'element2\t2.3904', 'element3\t0139847']
#Here we have a list 'l' having 3 string objects. We want to split each of 3 strings such that we only get 'element1','element2','element3'.
[i.split('\t')[0] for i in l] 
#Here we initiate a 'for' loop where i takes values as each string object of 'l' in each iteration.
#At each iteration of loop, Python splits the string object at '\t' and takes the first object of the split.

['element1', 'element2', 'element3']