In [2]:
matrix=[[1,2,3],  #In Python, we treat a nested list(i.e. list of lists) as a matrix.
       [4,5,6],  #As seen in o/p the list 'matrix' is a nested list having 3 lists each of length 3.
       [7,8,9]]  #Rows=No. of lists,Colums=No.of objects inside the list.Hence it is a 3x3 matrix.
print(matrix,type(matrix))  #In Python matrix falls under type 'list'.

[[1, 2, 3], [4, 5, 6], [7, 8, 9]] <class 'list'>

In [3]:
matrix[1]  #Gives the 2nd row of matrix.

[4, 5, 6]

In [4]:
matrix[1][2]  #The first digit tracks the row number i.e. row 2. The second digit tracks the element i.e. 3rd element.

6

In [6]:
[i[2] for i in matrix]  #Gives us the 3rd column of our matrix.i takes on values as each of the 3 lists 1 by 1 and then we get the 3rd value from each iteration of for loop.This gives us values of 3rd column.

[3, 6, 9]

In [3]:
list(zip(*matrix))  #Transposes the matrix i.e. rows become columns and vice-versa.

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [1]:
basket={'apple','banana','lemon','papaya','orange','lemon'}
basket #We created a set named 'basket'. When printing a set, by default the duplicates are removed and sorted alphabetically.

{'apple', 'banana', 'lemon', 'orange', 'papaya'}

In [5]:
a=('potato','tomato','onion','mango','carrot','potato','onion')  
b=('mango','guava','banana','mango')
a1=set(a)  #The 'set' function converts an object into a set. For eg. here it takes tuples 'a' and 'b' and converts them into sets. From the property of sets, it removes duplicates and sorts in ascending order.
b1=set(b)
b1

{'banana', 'guava', 'mango'}

In [7]:
basket.add('pomegranate') #We added a new item to our set using 'add' function.
basket  #Unlike tuples which are immutable, sets allow us to add/remove items. However, as they don't have a fixed index for items as they are unordered, sets are partially-mutable i.e. allow adding/removing but not editing of objects inside.
       #The word 'unoredered' means the elements don't follow an order of entry inside the set. For eg. when we create an empty list and append objects to that list, there is a specific order of entry which can be confirmed by printing the list. Now when we add new objects to a set, there is no order of entry and this can be confirmed if we print a set.

{'apple', 'banana', 'lemon', 'orange', 'papaya', 'pomegranate'}

In [9]:
basket.discard('tree') #We use 'discard' function to remove an item from a set. 
basket    #It removes the specified item if it is present in the set. If it isn't, then does nothing. Like this case.

{'apple', 'banana', 'lemon', 'orange', 'papaya', 'pomegranate'}

In [3]:
box={'mango',21,'lemon',[3,1,7]}
box  #If we create a set having a mutable item inside, Python gives an error stating same. A set can't have a mutable object inside it.

TypeError: unhashable type: 'list'

In [4]:
for i in basket:
    print(i)   #The for loop returns values for each iteration. It doesn't give a list or set output.
#Also, since set is an 'unordered' collection of data items, every time we run the loop the outcome appears in a different order. So when we print a set, the output is arrnaged in ascending order and duplicates removed. But when we run a 'for' loop on the elements of the set, then we observe that the order of output is always different.

lemon
papaya
banana
orange
apple

In [29]:
for i in sorted(basket):
    print(i)            #Gives a sorted output.

apple
banana
lemon
orange
papaya

In [6]:
if 'lemon' in basket:   #Search if an item exists in the set.
    print('Found item !')
else: print('Item not there.')

Found item !

In [16]:
a-b  #Gives us values present in set 'a' but not set 'b'.

{'carrot', 'onion', 'potato', 'tomato'}

In [17]:
a&b #Values present in both sets.

{'mango'}

In [18]:
a|b  #Gives all values present in both sets dropping the duplicates.

{'banana', 'carrot', 'guava', 'mango', 'onion', 'potato', 'tomato'}

In [19]:
a^b  #Values present in either 'a' or 'b' but not both.

{'banana', 'carrot', 'guava', 'onion', 'potato', 'tomato'}

In [10]:
q=[2,45,31,12,7,7,2]
r=set(q)  #The 'set' function converts list 'q' into set 'r'. As expected, set 'r' has duplicate values removed and sorted.
r

{2, 7, 12, 31, 45}

In [14]:
tel={'jack':1243,'mate':3621,'fred':2937} #This is a dictionary created by using curly brackets{}.It contains 'key:value' pairs.
tel   #We store values with some keys and later extract the value providing the key.Empty {} creates an empty dictionary.

{'jack': 1243, 'mate': 3621, 'fred': 2937}

In [15]:
tel['guido']=7150  #Add a new key"value pair to the dictionary 'tel'.
tel    #Dictionaries are mutable objects, so we can add,remove key:value pairs and also modify values of the keys.

{'jack': 1243, 'mate': 3621, 'fred': 2937, 'guido': 7150}

In [16]:
tel.update({'auba':1914,'laca':2910})
tel    #Adding multiple key:value pairs in same line using 'update' function.

{'jack': 1243,
 'mate': 3621,
 'fred': 2937,
 'guido': 7150,
 'auba': 1914,
 'laca': 2910}

In [4]:
tel['mate']  #Extract the value corresponding to key 'mate'.

3621

In [17]:
#If there's a chance the key we specify might not exist, we should use 'get' function instead of square bracket notation.
#The 1st argument is the key whose value we want to extract. The 2nd argument is the message which displays in case the mentioned key doesn't exist.
print(tel.get('jack','No key found'))
print(tel.get('mack','No key found'))

1243
No key found

In [5]:
del tel['mate']   #Deletes the key 'mate' and its value from dictionary. Then adds key 'tony' with value 9327 to it.
tel['tony']=9327
tel

{'jack': 1243, 'fred': 2937, 'guido': 7150, 'tony': 9327}

In [8]:
tel.keys()

dict_keys(['jack', 'fred', 'guido', 'tony'])

In [7]:
tel.values()

dict_values([1243, 2937, 7150, 9327])

In [9]:
tel.items()

dict_items([('jack', 1243), ('fred', 2937), ('guido', 7150), ('tony', 9327)])

In [12]:
list(tel)  #Gives the keys present in dictionary 'tel'.

['jack', 'fred', 'guido', 'tony']

In [13]:
sorted(tel) #Gives the sorted version of keys present in the dictionary.

['fred', 'guido', 'jack', 'tony']

In [14]:
'john' in tel  #Asks a question whether key 'john' is present in dictionary 'tel'.

False

In [15]:
'fred' not in tel   #Asks a question whether key 'fred' is not present in dictionary 'tel'.

False

In [18]:
tel1=dict(tom=234,dick=376,harry=397)  #Another way of creating a dictionary using 'dict' function.
tel1

{'tom': 234, 'dick': 376, 'harry': 397}

In [18]:
'tom' in tel1.keys()   #Check whether a key exists in dictionary.
376 in tel1.values()   #Check whether a value exists in dictionary.

True

In [19]:
for key,value in tel1.items(): #When looping the values of dictionary, we initiate 2 'for' variables. By using 'items()' function with our dictionary, we can retrieve key:value pairs simultaneously.
    print(key,value) #For each loop iteration, these 2 variables then take on each key:value pair as present in 'tel1.items'.

tom 234
dick 376
harry 397

In [20]:
for key in tel1: #If we specify only 1 'for' variable instead of 2, then the loop automatically iterates over keys of the dictionary and skips the values.
    print(key)

tom
dick
harry

In [10]:
key=['tom','dick','logan']
value=[2415,6321,8291]
a2={}
for k,v in zip(key,value):
    a2.update({k:v})  #When key and value are present in different lists, we can use 'zip' function to retrieve key:value pairs.
print(a2,type(a2))

{'tom': 2415, 'dick': 6321, 'logan': 8291} <class 'dict'>

In [11]:
a3={k:v for k,v in zip(key,value)}  #Same as bove, done using comprehension method.
print(a3,type(a3))

{'tom': 2415, 'dick': 6321, 'logan': 8291} <class 'dict'>

In [16]:
max(a3.keys())  #Returns the maximum key value in
max(a3.values())

8291

In [2]:
dict1={'auba':12,'laca':31,'gabi':23}
dict2={'mikel':41,'saka':15}
dict1.update(dict2)  #Concatenate two dictionaries with 'update' function.
dict1

{'auba': 12, 'laca': 31, 'gabi': 23, 'mikel': 41, 'saka': 15}

In [5]:
sorted(dict1.items())  #Sorts the dictionary.

[('auba', 12), ('gabi', 19), ('laca', 31), ('mikel', 41), ('saka', 15)]

In [3]:
dict3={'gabi':19} #If the dictionaries have 1 or more common keys, then the key value of the second dictionary overwrites that of the first one.
dict1.update(dict3)
dict1

{'auba': 12, 'laca': 31, 'gabi': 19, 'mikel': 41, 'saka': 15}

In [13]:
#Here we have a dictionary containing info about an alien's x,y coordinates and its speed. Depending on its speed, we move the alien to the right by specific 'x' value increment. 
alien={'x':0,'y':25,'speed':'medium'}
print(f"Starting Position:{alien['x'],alien['y']}")
if alien['speed'] == 'slow':
    x_increment=1
if alien['speed'] == 'medium':
    x_increment=2
else:
    x_increment=3
alien['x']=alien['x']+x_increment
print(f"New Position:{alien['x'],alien['y']}")

Starting Position:(0, 25)
New Position:(2, 25)

In [1]:
pwd  #Current Working Directory of Jupyter notebook.

'C:\\Users\\win'

In [3]:
#Here we create a dictionary using a function. The 1st and 2nd arguments are supplied by user while the 3rd argument is a blank dictionary created inside the function itself.
def profile(first,last,**user_info):  #The 3rd argument '**user_info' creates a blank dictionary by the name of 'user_info'.
    user_info['first_name']=first  #This dictionary takes up any number of key:value pairs supplied to the function as arguments after the 1st and 2nd arguments.
    user_info['last_name']=last #Since we supplied 2 arguments before 'user_info', we want to create 2 key:value pairs.
    return user_info #'first' is the value of key name 'first_name' and 'last' is the value of key name 'last_name'.
user_profile=profile('James','Maddison',Profession='Footballer',Team='England/Leicester City') #Here we supplied 2 keys as 'Profession' and 'Team' along with their values after supplying first two arguments.
print(user_profile)

{'Profession': 'Footballer', 'Team': 'England/Leicester City', 'first_name': 'James', 'last_name': 'Maddison'}

In [4]:
#We now learn to create a module. A module is nothing but a file containing python scripts.
# 1. Create a new text file and write/paste your Python codes in it.
# 2. Now save this file with a '.py' extension. 
# 3. This file is now a Python module. Any file with a '.py' extension is a Python module.

In [1]:
import mymodule as mod  #Import the created 'mymodule.py' file as 'mod'.

In [17]:
mod.x1  #Access the created objects,functions in the module using a dot as 'mod.object'.

[(0, 0), (1, 1), (2, 8), (3, 27), (4, 64), (5, 125), (6, 216), (7, 343)]

In [21]:
mod.x1[2]

(2, 8)

In [2]:
mod.sq(4,7)

16 49

In [2]:
with open('pend.txt') as p:  #Here we use 'with' and 'open' commands together to open a file existing in our working directory.
    for line in p:           #We then initiate a 'for' loop which iterates over each line of the file and prints as output.
        print(line,end='')

https://www.oreilly.com/library/view/machine-learning-with/9781491989371/ch01.html
https://www.programiz.com/python-programming/matrix

In [2]:
#Import a function from a module.
from pizza import make_pizza
make_pizza(8,'capsicum','corn')

We're making a 8 inch pizza which has following toppings:
['capsicum', 'corn']

In [3]:
from pizza import make_pizza as mp #Here we imported function 'make_pizza' with an alias 'mp'. 
mp(12,'extra cheese','corn')
#We can import both module as well as functions in it using an alias.

We're making a 12 inch pizza which has following toppings:
['extra cheese', 'corn']